@page "/code"

<PageTitle>Meine Projekte</PageTitle>

<h1>Meine Projekte</h1>

<p>Hier finden sie eine auflistung meiner bisherigen Projekte in form von Dokumentationen</p>

<h4>Abschlussprüfungsprojekt</h4>
<a href="/ressorcen/Projekt Dokumentation Lukas Schütz.pdf" target="_blank">Projektarbeit der Abschlussprüfung</a>
